---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


<p>I published 29 scientific articles in journals, of which 20 in academic journals with international peer-review. 
 <br />In addition, I (co-)wrote 7 books and 18 book contributions. 
 <br />Because of my work as researcher at several policy support centres (Vlaamse toetsen, SSL, SONO, Higher Education), the bulk of my publications are policy oriented research reports (50). 
</p>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my publications on my profiles at
    <ul>
      <li><a href="{{site.author.orcid}}"> Orcid </a></li>
      <li><a href="{{site.author.googlescholar}}"> Google Scholar </a></li>
      <li><a href="{{site.author.VUB}}"> Vrije Universiteit Brussel </a></li>
    </ul>
  </div>
{% endif %}

<h3>Selected Publications</h3>

<p>
  Laurijssen, I., Verbeylen, J., Mullens, F., & Lemblé, H. (2024). The trap of flexibility in ‘family-friendly’ professions: Assessing teachers’ quality of family time through temporal indicators. <i>Journal of Child and Family Studies</i>, 33: 2887–2899. DOI: <a href="doi.org/10.1007/s10826-024-02820-3">10.1007/s10826-024-02820-3</a>.
</p><p>
Mullens, F., & Laurijssen, I. (2024). An organizational working time reduction and its impact on three domains of mental well-being of employees: a panel study. <i>BMC Public Health</i>, 24:1727. DOI: 10.1186/s12889-024-19161-x.
</p><p>
Laurijssen, I., & Glorieux, I. (2023). Staying on track in higher secondary education in Flanders (Belgium): Mechanisms explaining social inequality in educational choice. <i>Research Papers in Education</i>, 39(4): 581–607, DOI: 10.1080/02671522.2023.2178497.
</p><p>
Keppens, G., Boone, S., Consuegra, E., Laurijssen, I., Spruyt, B., Van Droogenbroeck, F. (2023). First-generation college students’ motives to start university education. First-Generation College Students’ Motives to Start University Education: An Investment in Self- Development, One’s Economic Prospects or to Become a Role Model? <i>Young</i>, 31, 2: 142-160, DOI: 10.1177/11033088221139393.
</p><p>
Van Tienoven, T.P., Minnen, J., Glorieux, A., Laurijssen, I., Te Braak, P., Glorieux, I. (2023): Locking Down Gender Roles? A Time-Use Perspective on Gender Division of Household Labour during the COVID-19 Pandemic Lockdown in Belgium. <i>Journal of Family Issues</i>, 44, 3: 654-680.
</p>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



